<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset='UTF-8'>
        <meta name='autor' content='Adolfo Kuhn'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' type='image/png' href='./img/logo.png'>
        <link rel='stylesheet' href='./css/bootstrap.min.css'>
        <link rel='stylesheet' href='./css/estilos.css'>
		<script src='./js/codigo.js'></script>
		<title>Log in - MatricúlAte</title>
	</head>
	<body>
		<div class='wrapper'>
			<header class='header'>
				<div class='header__logo'>Matricúl<mark class='logo-end'>Ate</mark></div>
				<div class='header__titulo'>
					<span class='header__titulo-txt'>IES Linus Torvalds</span>
					<span class='header__titulo-id'>Iniciar Sesión</span>
				</div>
			</header>
			<main class='main'>
				<nav class='nav'>
					<div class='nav__item'>
						<a href="index.html">Inicio</a>
					</div>
				</nav>
				<article class='logo-block'>
					<h1>Bienvenido a</h1>
					<h2 class='logo-block__head'>Matricúl<mark class='logo-end'>Ate</mark></h2>
					<img class='logo-block__img' src="img/logo.png" alt="logo"/>
					<h6>Has de <span class='logo-block__link'>identificarte</span> para poder entrar.</h6>
				</article>
			</main>
		</div>
	</body>
</html>